<%- include('.././fragments/header.ejs') %>
    <main>
        <p>
            Jeżeli masz jakieś pytanie prosimy o kontakt z nami : <br>
            <a href="mailto:kontakt@lecznicaFrodo.pl">kontakt@lecznicaFrodo.pl</a><br>
            telefon kontaktowy - 094920294<br>
        </p>

    </main>
    <%- include('.././fragments/footer.ejs') %>