<%- include('.././fragments/headerPatient.ejs') %>
    <main>
        <h2>Edycja profilu</h2>
        <form class="form">

            <label for="firstName">Imię :<sup>*</sup></label>
            <input type="text" value="Maciej" name="firstName" id="firstName">

            <label for="lastname">Nazwisko :<sup>*</sup></label>
            <input type="text" value="Jasiński" name="lastname" id="lastname">

            <label for="email">Email :<sup>*</sup></label>
            <input type="email" value="maciekmaciek@gmail.com" name="email" id="email">

            <label for="phone">Telefon :<sup>*</sup></label>
            <input type="text" value="243-232-232" name="phone" id="phone">



            <div class="form-buttons">
                <input class="form-button-submit" type="submit" value="Zatwierdź zmiany" />
                <a class="form-button-cancel" href="/patient">Anuluj</a>
            </div>

        </form>
        <h2>Zmiana Hasła</h2>
        <form class="form">

            <label for="password">Wprowadź hasło :<sup>*</sup></label>
            <input type="password" name="password" id="password">

            <label for="password-ver">Zweryfikuj hasło :<sup>*</sup></label>
            <input type="password" name="password-ver" id="password-ver">



            <div class="form-buttons">
                <input class="form-button-submit" type="submit" value="Zatwierdź zmianę hasła" />
                <a class="form-button-cancel" href="/patient">Anuluj</a>
            </div>
        </form>
    </main>
    <%- include('.././fragments/footer.ejs') %>