<%- include('.././fragments/header.ejs') %>
    <main>
        <h2>Galeria Naszych Dzielnych Pacjentów :)</h2>
        <div class="photos-container">
            <div class="photos">
                <img src="../images/frodo_rocket2.jpg" alt="Frodo i Rocket">
            </div>
        </div>
    </main>
    <%- include('.././fragments/footer.ejs') %>