<%- include('.././fragments/header.ejs') %>
    <main>
        <h2>Zakres usług</h2>
        <p>
            Świadczymy usługi weterynaryjne :<br><br>
            <img src="../images/vetLogoLittle.png" alt="Lecznica Frodo"> Badania labolatoryjne<br>
            <img src="../images/vetLogoLittle.png" alt="Lecznica Frodo"> Leczenie<br>
            <img src="../images/vetLogoLittle.png" alt="Lecznica Frodo"> Szpital<br>
            <img src="../images/vetLogoLittle.png" alt="Lecznica Frodo"> Okulistyka<br>
            <img src="../images/vetLogoLittle.png" alt="Lecznica Frodo"> Kardiologia<br>
            <img src="../images/vetLogoLittle.png" alt="Lecznica Frodo"> Chirurgia<br>
            <img class="scale-pics" src="../images/manyPets.png" alt="Lecznica Frodo">
        </p>
    </main>
    <%- include('.././fragments/footer.ejs') %>