<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <script type="application/javascript" src="../../js/toast.js"></script>
        <p>
            Tymaczasowe informacje !<br><br>
            Strona jest przeznaczona dla lekarzy pracujących w lecznicy oraz dla pacjentów.<br>
            <br>
            Funkcjonalność dla lekarzy po zalogowaniu :<br><br>
            <img src="images/vetLogoLittle.png" alt="Lecznica Frodo"> sprawdzenie historii choroby danego pacjenta;<br>
            <img src="images/vetLogoLittle.png" alt="Lecznica Frodo"> dodawanie nowego pacjenta;<br>
            <img src="images/vetLogoLittle.png" alt="Lecznica Frodo"> wprowadzanie danych dotyczące wizyty
            pacjentów;<br>
            <br>
            Funkcjonalność dla pacjentów po zalogowaniu:<br><br>
            <img src="images/ferdi340_little.png" alt="Lecznica Frodo"> przeglądanie historii choroby;<br>
            <img src="images/ferdi340_little.png" alt="Lecznica Frodo"> wszelkie dane dotyczące wizyty, w sensie
            dawkowanie leków, informacja u którego lekarza odbyła się wizyta itp.<br>
            <br>
            Jeśli chodzi o Funkcjonalności bez zalogowania to jest ograniczona do informacji o stosowanych zabiegach w
            lecznicy, informacji o lekarzach którzy pracują dla lecznicy i ich specjalizacji oraz kontakcie z lecznicą,
            w niedalekiej przyszłości będzie wprowadzona możliwość rezerwacji wizyt, ale to też po uprzednim
            zalogowaniu.<br><br>
            Rejestracja pacjenta jest możliwa podczas wizyty w naszej Lecznicy, lub w trakcie wizyty.<br>

        

            <div id="toast"><div id="img">Icon</div><div id="desc">A notification message..</div></div>

        </p>
    </main>
    <%- include('./fragments/footer.ejs') %>