<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="../../js/validationCommon.js"></script>
        <script type="application/javascript" src="../../js/validationVisitForm.js"></script>
        <h2>Dodaj nową wizytę</h2>
        <form class="formRegister" novalidate onsubmit="return validateForm();">

            <label for="petName">Imię pacjenta:<abbr title="required">*</abbr></label>
            <select class="form-select" name="petName" id="petName">
                <option value="">--- Wybierz pacjenta ---</option>
                <option value="2">Figa</option>
                <option value="3">Milka</option>
                <option value="4">Fluffy</option>
                <option value="5">Frodo</option>
                <option value="6">Rocket</option>
            </select>
            <span id="errorPetName" class="errors-text"></span>

            <label for="lastName">Nazwisko właściciela:<abbr title="required">*</abbr></label>
            <select class="form-select" name="lastName" id="lastName">
                <option value="">--- Wybierz właściciela ---</option>
                <option value="2">Jasinski</option>
            </select>
            <span id="errorLastName" class="errors-text"></span>

            <label for="doctor">Nazwisko lekarza:<abbr title="required">*</abbr></label>
            <select class="form-select" name="doctor" id="doctor" required>
                <option value="">--- Wybierz lekarza ---</option>
                <option value="2">Pniewski</option>
                <option value="3">Kowalski</option>
            </select>
            <span id="errorDoctor" class="errors-text"></span>

            <label for="visitDate">Data wizyty: <abbr title="required">*</abbr></label>
            <input type="date" name="visitDate" id="visitDate" />
            <span id="errorVisitDate" class="errors-text"></span>

            <label for="visitPurpose">Cel wizyty :<abbr title="required">*</abbr></label>
            <select class="form-select" name="visitPurpose" id="visitPurpose">
                <option value="">--- Wybierz cel wizyty ---</option>
                <option value="2">Zabieg</option>
                <option value="3">Stomatologia</option>
                <option value="4">Badanie kontrolne</option>
                <option value="5">Konsultacja</option>
            </select>
            <span id="errorVisitPurpose" class="errors-text"></span>

            <label for="textfield">Opis wizyty i zalecenia:<abbr title="required">*</abbr></label>
            <textarea class="textarea" name="textarea" id="textarea" rows="20" cols="50"></textarea>
            <span id="errorTextArea" class="errors-text"></span>

            <div class="form-buttons-register">
                <p id="errorsSummary" class="errors-text"></p>
                <input class="form-button-submit" type="submit" value="Zapisz wizytę" />
                <a class="form-button-cancel" href="/visits">Anuluj</a>
            </div>
        </form>
    </main>
    <%- include('../../fragments/footer.ejs') %>